<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppScheduler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AppScheduler.Properties.Settings>
            <setting name="executablePath" serializeAs="String">
                <value />
            </setting>
            <setting name="dataLimit" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="timerInterval" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="startTime" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
            <setting name="endTime" serializeAs="String">
                <value>3000-01-01</value>
            </setting>
            <setting name="firstTime" serializeAs="String">
                <value>True</value>
            </setting>
        </AppScheduler.Properties.Settings>
    </userSettings>
</configuration>